#payment-button{
  background-color: hsl(245, 75%, 52%);
    padding: 1.2rem;
    color: white;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    filter: drop-shadow(0 0.8rem 0.35rem hsl(225, 100%, 94%));
}

#payment-button:hover
{
background-image:none;
background-color: hsl(245, 75%, 75%)
}

#cancel-button {
  padding: 1.2em;
  width: 90%;
  border: none;
  color: hsl(224, 23%, 55%);
  background: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
}

#cancel-button:hover, #cancel-button:focus {
  color: black;
}

.pricing-block{
  box-sizing: border-box;
  display: flex;
  margin: 1rem auto;
  padding: 1rem 0.5rem;
  width: 90%;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

}

#music-icon{
  width: 20%;
}

#price-description {
  width: 20%;
  text-align: left;
}
.accent-text{
  font-weight: 900;
}

.body-text{
  color: hsl(224, 23%, 55%);
}

#link {
  width: 40%;
  color: hsl(225, 100%, 94%);
}

a:hover, a:focus{
  opacity: .7;
  text-decoration: none;
}
